*.js
!jest.config.js
!eslint.config.js
*.d.ts
.env
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Dont ignore anything in the lambda directory
!lambda/**

# Dont ignore anything in the frontend directory
!frontend/**